<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chordNodes</key>
	<array>
		<dict>
			<key>chordName</key>
			<string>A</string>
			<key>chordType</key>
			<integer>1</integer>
			<key>diagramFilename</key>
			<string>a_0_1.jpg</string>
			<key>noteDescriptions</key>
			<array>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>2</integer>
					<key>noteFret</key>
					<integer>2</integer>
					<key>noteName</key>
					<string>B</string>
					<key>noteString</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>D</string>
					<key>noteString</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>1</integer>
					<key>noteFret</key>
					<integer>1</integer>
					<key>noteName</key>
					<string>G#</string>
					<key>noteString</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>B</string>
					<key>noteString</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>startingFret</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>chordName</key>
			<string>A</string>
			<key>chordType</key>
			<integer>0</integer>
			<key>diagramFilename</key>
			<string>a_1_1.jpg</string>
			<key>noteDescriptions</key>
			<array>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>2</integer>
					<key>noteFret</key>
					<integer>2</integer>
					<key>noteName</key>
					<string>B</string>
					<key>noteString</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>3</integer>
					<key>noteFret</key>
					<integer>2</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>1</integer>
					<key>noteFret</key>
					<integer>1</integer>
					<key>noteName</key>
					<string>G#</string>
					<key>noteString</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>4</integer>
					<key>noteFret</key>
					<integer>3</integer>
					<key>noteName</key>
					<string>D</string>
					<key>noteString</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>startingFret</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>chordName</key>
			<string>A</string>
			<key>chordType</key>
			<integer>0</integer>
			<key>diagramFilename</key>
			<string>a_5_1.jpg</string>
			<key>noteDescriptions</key>
			<array>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>A</string>
					<key>noteString</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>D</string>
					<key>noteString</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>G</string>
					<key>noteString</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>B</string>
					<key>noteString</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>startingFret</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>chordName</key>
			<string>A</string>
			<key>chordType</key>
			<integer>0</integer>
			<key>diagramFilename</key>
			<string>a_5_2.jpg</string>
			<key>noteDescriptions</key>
			<array>
				<dict>
					<key>noteFinger</key>
					<integer>2</integer>
					<key>noteFret</key>
					<integer>7</integer>
					<key>noteName</key>
					<string>B</string>
					<key>noteString</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>3</integer>
					<key>noteFret</key>
					<integer>7</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>1</integer>
					<key>noteFret</key>
					<integer>6</integer>
					<key>noteName</key>
					<string>G#</string>
					<key>noteString</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>4</integer>
					<key>noteFret</key>
					<integer>7</integer>
					<key>noteName</key>
					<string>D</string>
					<key>noteString</key>
					<integer>4</integer>
				</dict>
			</array>
			<key>startingFret</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>chordName</key>
			<string>A</string>
			<key>chordType</key>
			<integer>0</integer>
			<key>diagramFilename</key>
			<string>a_7_1.jpg</string>
			<key>noteDescriptions</key>
			<array>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>A</string>
					<key>noteString</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>D</string>
					<key>noteString</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>G</string>
					<key>noteString</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>B</string>
					<key>noteString</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>startingFret</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>chordName</key>
			<string>A</string>
			<key>chordType</key>
			<integer>0</integer>
			<key>diagramFilename</key>
			<string>a_9_1.jpg</string>
			<key>noteDescriptions</key>
			<array>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>A</string>
					<key>noteString</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>D</string>
					<key>noteString</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>G</string>
					<key>noteString</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>B</string>
					<key>noteString</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>noteFinger</key>
					<integer>0</integer>
					<key>noteFret</key>
					<integer>0</integer>
					<key>noteName</key>
					<string>E</string>
					<key>noteString</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>startingFret</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>rootName</key>
	<string>A</string>
</dict>
</plist>
